


html,body{
    height: 100%;
    background: #f7f9fc;
    font-family: 'Nunito Sans', sans-serif;
}

a{
    color: white;
    text-decoration: none !important;
}

a:hover{
    color: white;
}

.wrapper{
    display: flex;
    padding: 0;
}

button:focus{
    outline: 0;
    border: 0;
}

.card{
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}

.theme-bg{
    color: wheat;
    background-color: #563d7c !important;
}

/********************
    DASHBOARD BRAND
********************/
.dashboard-brand{
    display: inline-block;
    width: 230px;
    max-height: 80px;
    /* background: #1c77e6f7; */
    background: #283846;
    transition: all 0.1s ease;
}

.brand-abbr , 
.brand-title{
    display: inline-block;
    padding: 24px 23px;
    color: white;
    font-size: 24px;
 
    transition: all 0.4s ease;
    letter-spacing: 0.55px;
}

/****************************
====== DASHBOARD BRAND ======
****************************/


/********************
    DASHBOARD NAVBAR
********************/
.dashboard-navbar{
    display: flex;
    flex: 1 auto;
    background: white;
    max-height: 80px;
    box-shadow: 5px 1px 6px 0px #0000009c;
}

.dashboard-nav{
    display: flex;
    flex: 1 auto;
    justify-content: space-between;
    margin: 18px 20px 10px;
}

.menuBtn{
    width: 48px;
    height: 48px;
    cursor: pointer;
    color: #6c757d;
    border-radius: 50%;
    padding: .78rem;
    text-align: center;
    font-size: 18px;
}

.menuBtn:hover{
    background: rgba(108, 117, 125, 0.249);
}


.navbar-right{
    position: relative;
}

.navbar-right-icons{
    display: inline-block;
    color: #6c757d;
    border-radius: 50%;
}

.navbar-right-icons > i{
    font-size: 20px;
    cursor: pointer;
    color: #6c757d;
    padding: .78rem;
    text-align: center;
    font-size: 18px;
}

.navbar-right-icons:hover{
    background: rgba(108, 117, 125, 0.249);
}

.user-icon{
    display: inline-block;
    height: 48px;
    width: 48px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    background: #323f4f;
    box-shadow: 0 6 20px 0 rgba(0,0,0,.1);
    cursor: pointer;
    text-align: center;
}


.user-icon span{
    display: inline-block;
    color: #fff;
    font-size: 18px;
    padding: 8px;
}

.dropdown-profile {
    width: 12rem;
}

.drop-down {
    display: none;
    z-index: 9999;
    width: 220px;
    position: absolute;
    right: 0.5rem;
    top: 5rem;
    -webkit-transform: translateY(3.125rem);
    transform: translateY(3.125rem);
    transition: all .4s ease-in-out;
    border-top: 0;
    background: #fff;
    color: #000;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
}

.dropdown-profile ul {
    padding: 1.25rem 0;
}

.dropdown-content-body ul > li {
    float: none;
    line-height: 1.25;
    padding: .75rem 1.25rem!important;
    position: relative;
    transition: all .4s ease-in-out;
    list-style: none;
    
}

.dropdown-profile li a {
    display: block;
    color: #6c757d;
    font-size: 16px;
}

.dropdown-profile li a:hover{
    color: #563d7c;
}

.dropdown-profile li a > i.material-icons{
    vertical-align: bottom;
    font-size: 2rem;
}

.dropdown-profile li a > span{
    padding-left: .5rem;
}

/****************************
===== DASHBOARD NAVBAR =====
****************************/


/****************************
    DASHBOARD SIDENAV
****************************/

.dashboard-container{
    position: relative;
}

.dashboard-sidebar{
    position: absolute;
    bottom: 0;
    display: block;
    float: left;
    width: 230px;
    height: 100%;
    /* background: #1c77e6f7; */
    background: #283846;
    transition: all .1s ease;
}

.sidebar-list{
    list-style: none;
    padding: 0px;
}


.nav-item, 
.nav-dropdown {
    position: relative;
    display: block;
    color: white;
    padding: 12px 23px;
    transition: top 0.2s ease-in;
    backface-visibility: hidden;
}

.dashboard-sidebar .nav-item:hover , 
.dashboard-sidebar .nav-dropdown:hover,
.dashboard-sidebar .nav-subitem:hover{
    background: #232c38 ;
    box-shadow:  1px 2px 1px rgba(33, 37, 41, .15);
}


.nav-item i ,
.nav-dropdown i{
    vertical-align: top;
    font-size: 20px;
    z-index: 99;
}

.nav-item span ,
.nav-dropdown span{
    margin-left: 16px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
}

.nav-item:hover ,
.nav-dropdown:hover{
    color: white;
}

.arrow{
    position: absolute;
    right: 1.5rem;
    font-size: 16px !important; 
    transition : transform 0.3s ease-out;
}

.nav-sublist{
    background:     #1eb294;
    /* background:     #293442; */
    color: white;
    padding: .5rem 0 .5rem;
    list-style: none;
    transition-property: all;
    transition-duration: 2s;
    font-weight: 500;
}


.nav-subitem{
    display: block;
    text-transform: capitalize;
    font-size: 14px;
    padding: 8px 20px 8px 58px;
    transition: all .2s;
}

.mini-nav{
    width: 66px;
}

.rotate-arrow{
    transition : transform 0.3s ease-out;
    transform: rotate(-270deg);
}


/****************************
===== DASHBOARD SIDENAV =====
****************************/


/****************************
    DASHBOARD CONTENT AREA
****************************/

.dashboard-content-area{
    min-height: 1157px;
    margin-left: 230px;
    display: block;
    padding: 2.2rem 1.875rem 0;
}


.dashboard-content-padding{
    margin-left: 66px;
}


.active{
    background: #1eb294;
}

/*********************************
===== DASHBOARD CONTENT AREA =====
*********************************/

.page-title{
    color: rgba(0, 0, 0, 0.6) !important;
    border-bottom: 1.5px solid #e3eaef;
    padding-bottom: 10px;
    margin-bottom: 16px;
}


.gapper-1{
    height: 1rem;
}

.table-card{
    height: 500px;
    overflow-y: auto;
}



.flipInX{
    animation-name: flipInX;
    animation-duration: 1s;
    animation-fill-mode: both;
    backface-visibility: visible!important;
}   


.btn-theme{
    color: white;
    background-color: #232c38 !important;
    border-color: #232c38!important;
}

.btn-theme:hover{
    color: white;
    background-color: #323f4f !important;
    border-color: #323f4f !important;
}


/*************************
===== GENERAL CLASS =====
**************************/

.employee-image-box{
    position: relative;
    
}

.employee-img{
    position: absolute;
    background-color: grey;
    height: 100px;
   
}

.message{
    background-color: #38c172!important;
    color:white;
}

.avatar-image{
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    box-shadow: 0px 5px 5px 1px #00000078;
    margin-bottom: 15px;
    cursor: pointer;
}

.avatar-circle{
    vertical-align: middle;
    width: 58px;
    height: 58px;
    border-radius: 50%;
}




/* Avatar for image upload */


.avatar-upload {
    position: relative;
    max-width: 205px;
    
  }

  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }


  .avatar-upload .avatar-edit input {
    display: none;
  }

  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }


  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }

  .avatar-upload .avatar-edit input + label:after {
    content: "\1F4F7";
    font-family: "FontAwesome";
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }

  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  


  .puchase-table thead tr th:first-child{
    width: 10%;
    text-align: center;
}


.puchase-table thead tr th:not(:first-child){

    width: 12.5%;
    text-align: center;
}


.puchase-table thead tr th:nth-child(2){
    text-align: left;
    width: 40%;
}

.puchase-table thead tr th:last-child{
    min-width: 85px;
}



@keyframes flipInX{
    0%{
        animation-timing-function: ease-in;
        opacity: 0;
        transform: perspective(400px) rotateX(90deg);
    }

    40% {
        -webkit-animation-timing-function: ease-in;
        -webkit-transform: perspective(400px) rotateX(-20deg);
        animation-timing-function: ease-in;
        transform: perspective(400px) rotateX(-20deg);
    }

    60% {
        -webkit-transform: perspective(400px) rotateX(10deg);
        opacity: 1;
        transform: perspective(400px) rotateX(10deg);
    }

    80% {
        -webkit-transform: perspective(400px) rotateX(-5deg);
        transform: perspective(400px) rotateX(-5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }

}